<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dllo.homemycar">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".custom.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".actity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".actity.CenturyActivity"/>
        <activity android:name=".actity.AllActivity"/>
        <activity android:name=".actity.CollectActivity"/>
        <activity android:name=".actity.PreferentialActivity"/>
        <activity android:name=".actity.HistoryActivity"/>
        <activity android:name=".actity.DraftActivity"/>
        <activity android:name=".actity.SetUpActivity"/>
        <activity android:name=".actity.HotActivity"/>
        <activity android:name=".formfragment.CenturySsActivity"/>
        <activity android:name=".actity.ItemCenturyActivity"/>
        <activity android:name=".formfragment.WebCenturyActivity"/>
        <activity android:name=".actity.MoreActivity"/>
        <activity android:name=".fragment.RecommendActivity"/>
    </application>

</manifest>